<?xml version="1.0"?>
<ruleset name="ReturnTag TagCore">
  <description>WordPress and PHP compatibility rules for TagCore.</description>

  <arg name="basepath" value="."/>
  <arg name="colors"/>
  <arg name="extensions" value="php"/>
  <arg value="ps"/>

  <file>tagcore.php</file>
  <file>uninstall.php</file>
  <file>src</file>
  <file>tests</file>

  <exclude-pattern>vendor/*</exclude-pattern>

  <config name="testVersion" value="8.3-"/>

  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="PHPCompatibilityWP"/>

  <rule ref="WordPress.Files.FileName">
    <exclude-pattern>src/*</exclude-pattern>
    <exclude-pattern>tests/*</exclude-pattern>
  </rule>

  <rule ref="WordPress.WP.I18n">
    <properties>
      <property name="text_domain" type="array">
        <element value="tagcore"/>
      </property>
    </properties>
  </rule>
</ruleset>
