<!-- wp:template-part {"slug":"checkout-header","theme":"woocommerce/woocommerce","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
	<!-- wp:group {"tagName":"main","className":"forge-commerce forge-commerce--checkout","layout":{"type":"constrained"}} -->
	<main class="wp-block-group forge-commerce forge-commerce--checkout">
		<!-- wp:woocommerce/store-notices /-->

		<!-- wp:post-content {"align":"wide"} /-->
	</main>
	<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->
