<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","className":"forge-commerce forge-commerce--cart","layout":{"type":"constrained"}} -->
<main class="wp-block-group forge-commerce forge-commerce--cart">
	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:group {"align":"wide","className":"forge-commerce__intro forge-commerce__intro--transaction","layout":{"type":"constrained"}} -->
	<div
		class="wp-block-group alignwide forge-commerce__intro forge-commerce__intro--transaction"
	>
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"wide","className":"forge-commerce__page-content"} /-->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
