<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"forge-content-surface forge-search","layout":{"type":"constrained"}} -->
<main class="wp-block-group forge-content-surface forge-search">
	<!-- wp:pattern {"slug":"forge-tag/search-header"} /-->

	<!-- wp:query {"query":{"inherit":true},"align":"wide","className":"forge-search__query","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide forge-search__query">
		<!-- wp:post-template {"className":"forge-search__results"} -->
			<!-- wp:group {"tagName":"article","className":"forge-search-result","layout":{"type":"constrained"}} -->
			<article class="wp-block-group forge-search-result">
				<!-- wp:post-title {"level":2,"isLink":true} /-->
				<!-- wp:post-excerpt /-->
			</article>
			<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
			<!-- wp:pattern {"slug":"forge-tag/search-empty"} /-->
		<!-- /wp:query-no-results -->

		<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-numbers /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
